</div>
<!-- MAIN CONTAINER END -->
<!-- MAIN FOOTER START -->
<div class="main-footer">
  <!-- <div class="main-inner" id="partner">
    <div class="container">
      <h3 class="title is-3">Proud to work with</h3>
      <div class="columns">
        <div class="column partner_logo">
          <img src="/assets/img/partner/Databang_logo.png" alt="Databang Logo" width="400">
        </div>
        <div class="column partner_description">
          <h4>DATABANG - Lead developer and Software Engineer</h4>
          <p>Creating IoT solutions for consumers</p>
        </div>
      </div>
      <div class="columns">
        <div class="column partner_description">
          <h4>BECODE - Trainer on web developement</h4>
          <p>Coaching people to become web developer</p>
          <p></p>
        </div>
        <div class="column partner_logo">
          <img src="/assets/img/partner/Becode_logo.svg" alt="Becode Logo" width="200">
        </div>
      </div>
    </div>
  </div> -->
  <div class="main-inner" id="society">
    <div class="container">
      <div class="columns">
        <div class="column logo cr-it-logo"></div>
        <div class="column">
          <h4><b>Cely Ramos Juan</b></h4>
          <p>VAT. BE 0697.819.087</p>
          <p>77, rue de Wautier</p>
          <p>BE-1020 Laeken</p>
          <p>invoice@celyramos.be</p>
        </div>
        <div class="column">
          <h4><b>Contact</b></h4>
          <p>contact@celyramos.be</p>
          <p>or</p>
          <p><a href="/contact">Send an online message</a></p>
        </div>
        <div class="column icons">
          <h4><b>Get in touch</b></h4>
          <a href="https://www.facebook.com/celyramos.dev" title="Celyramos.be Facebook page" target="_blank"><i class="fab fa-facebook"></i></a>
          <a href="https://www.linkedin.com/in/juan-cely-ramos-88353a134" title="Celyramos.be Linkedin page" target="_blank"><i class="fab fa-linkedin"></i></a>
          <a href="https://github.com/juancely" title="Celyramos.be Github page" target="_blank"><i class="fab fa-github-square"></i></a>
        </div>
      </div>
    </div>
    <div class="copyrights">
      <p>© Celyramos, 2018 - All rights reserved</p>
    </div>
  </div>
</div>
<!-- MAIN FOOTER END -->
</div>
<!-- MAIN END -->
</body>
</html>
