<%- include('./partials/header'); %>

<div class="main-inner container">
  <h1 class="title is-1"><%= typeof title != 'undefined' ? title : ''; %></h1>

  <nav class="breadcrumb has-bullet-separator" aria-label="breadcrumbs">
    <ul>
      <li class="is-active">
        <a href="/" aria-current="page">
          <span class="icon is-small">
            <i class="fas fa-home" aria-hidden="true"></i>
          </span>
          <span>Celyramos</span>
        </a>
      </li>
    </ul>
  </nav>
</div>

<%- include('./partials/footer'); %>
